.App {
  font-family: sans-serif;
}

.card {
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.render-wrapper {
  display: flex;
  align-items: stretch;
  border: 1px solid #333;
}

@keyframes blinkin {
  from {
    background-color: #d48383;
  }

  to {
    background-color: #ccc;
  }
}

.render-count {
  animation-duration: 0.5s;
  animation-name: blinkin;
  animation-timing-function: ease-out;
  width: 24px;
  text-align: center;
  font-size: 12px;
  padding: 4px;
  background: #ccc;
}
